@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    }

.home{
    width: 100%;
    height: 100vh;
    background-image: url(images/bg.jpg);
    background-position: center;
    background-size: cover;
}
.home-text .btn a{
    color: white;
}
nav{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;
    padding-top: 10px;
}
.mainmenu{
    display: flex;
    list-style: none;
    padding-top: 10px;
}
nav .mainmenu  li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    transition: color .5s ease;
}
nav .mainmenu  li a:hover{
    color: crimson;
}
nav .openmenu{
    font-size: 35px;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainmenu .closemenu,.icons {
    color: white;
    font-size: 35px;
    display: none;
    cursor: pointer;
}
nav .mainmenu .icons a{
    font-size: 40px;
    color: white;
}

@media(max-width:1000px)
{
    nav .mainmenu li a{
        font-size: 20px;
        padding-left: 10px;
    }
}

/* .fab{
     transition: color .5s ease; */

.fa-twitter:hover{
    color: #5a6f99;
}
.fa-instagram:hover{
    color: #e95bba;
}
.fa-linkedin:hover{
    color: #3f7df8;
}
.fa-github:hover{
    color: #cc8411;
}
nav .logo{
    margin: 6px;
    font-size: 28px;
    letter-spacing: 2px;
    cursor: pointer;
}
nav .logo span{
    color: crimson;
}


/* home-page */

.home-text{
    color: white;
    position: absolute;
    top: 35%;
    left: 15%;
}
.home-text .text1{
    font-size: 35px;
}
.home-text .text2{
    font-size: 70px;
    margin: 20px 20px 20px 0;
    letter-spacing: 1px;
    opacity: 0;
}
.home-text .text2 span{
    color: crimson;
    
}
.home-text .text3{
    font-size: 40px;
    opacity: 0;
}
.btn{
    color: white;
    background-color: crimson;
    margin: 20px 0;
    font-size: 25px;
    border-radius: 30px;
    padding: 15px;
    transition: color .5s ease;
}
.btn-1{
    opacity: 0;
}
 .btn:hover{
    color: crimson;
    border: 2px solid crimson;
    background-color: transparent;
    cursor: pointer;
}



/* about page */

.about{
    width: 100%;
    height: 100vh;
    padding: 50px 0px;
    background-color: #191919;
}
.about img{
    height: 400px;
    max-width: 350px;
}
.about img:hover{
    cursor: pointer;
}
.about-text{
    max-width: 550px;
    padding-left: 40px;
    text-align: left;
}
.about .main{
    width: 1100px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about h2{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
}
.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.about-text h5 span{
    color:crimson;
}
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 30px;
}
.about-text .btn a{
    color: white;
}
@media(max-width:800px)
{
    .about{
        width: 100%;
        height: 100%;
        padding: 50px 0px;
        background-color: #191919;
        overflow: hidden;
    }
    .about .main{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about img{
        margin-bottom: 35px;
        width: 300px;
    }
    .about-text{
        width: 100%;
        text-align: center;
        margin-right: 35px;
    }
    .about-text p{
        text-align: justify;
    }
}

/* Education section */

.education{
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    background-color: #101010;
}
.education .title h1{
    font-size: 70px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 60px;
}
.education .main{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.education .main .box{
    color: white;
    padding: 50px 30px;
    width: 350px;
    min-width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #191919;
    border-radius: 30px;
    /* box-shadow: 5px 5px 5px #fff, 5px 5px 5px #fafafa; */
    opacity: .5;
    text-align: center;
    transition: all .5s ease;
}
.education .main .box2{
    margin: 0 50px;
}
.education .main .box .icon i{
    width: 50px;
    height: 50px;
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;
    color: crimson;
}
.education .main .box .box-text{
    text-transform: capitalize;
}
.education .main .box .box-text h2{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 15px;
}
.education .main .box .box-text h4{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.education .main .box .box-text li{
    list-style: none;
    color: #fcfc;
    font-size: 18px;
    padding-bottom: 5px;
}
.education .main .box:hover{
    transform: scale(1.1) ;
    /* border: 2px solid white; */
    box-shadow: 5px 5px 5px #fff, 5px 5px 5px #fafafa;
    cursor: pointer;
    opacity: 1;
}

@media(max-width:800px)
{
    .education{
        width: 100%;
        height: 100%;
    }
    .education .main{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        
    }
    .education .main .box{
        margin-bottom: 60px;
        width: 400px;
        font-weight: bolder;
    }
}

/* Skills page */
.skills{
    width: 100%;
    height: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.title{
    color: white;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
}
.skills .main{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.skills .main .sub-title{
    color: white;
    text-align: left;
    font-size: 35px;
    margin: 0 0 20px 25px;
    text-transform: capitalize;
    margin-left: 9%;
}
.skills .main .block{
    background-color: #101010;
    color: white;
    margin: 40px 7%;
    border-radius:30px ;
    padding:  25px;
    padding-top: 35px;
    box-shadow: 5px 5px 5px #353b48, 5px 5px 10px #fff;
    transition: all .5s ease;
}
.skills .main .block:hover{
    cursor: pointer;
    background-color: rgb(145, 128, 146);
    border: 1px solid white;outline: none;
}
.skills .main .block li{
    list-style: none;
    margin-bottom: 10px;
    position: relative;
    z-index: 5;
}
.skills .main .block li h2{
    font-size: 23px;
    letter-spacing: 1px;
}
 .skills .main .block li .bar{
    display: block;
    background: #353b48;
    height: 2px;
    border: 1px solid rgba(0,0,0,.3);
    margin: 20px 0;
    margin-bottom: 30px;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
    
} 
.skills .main .block li .bar span{
    height: 2px;
    float: left;
    background-color: #2187e7b3;
    position: absolute;
    z-index: 10; 
}
.html{
    width: 90%;
    animation: html 2s ease;
} 
.css{
    width: 80%;
    animation: css 2s ease;
} 
.javascript{
    width: 60%;
    animation: javascript 2s ease;
} 
.sql{
    width: 80%;
    animation: sql 2s ease;
} 
.c{
    width: 95%;
    animation: c 2s ease;
} 
.cpp{
    width: 85%;
    animation: cpp 2s ease;
} 
.java{
    width: 70%;
    animation: java 2s ease;
} 
.python{
    width: 60%;
    animation: python 2s ease;
} 

@media(max-width:800px){
    .skills{
        width: 100%;
    }
    .title{
    font-size: 55px;
    margin-bottom: 40px;
    }
    .skills .main .sub-title{
        font-size: 25px;
    }
}


/* contact page */

.contact{
    width: 100%;
    height: 100%;
    background-color: #101010;
    padding: 100px 0;
}
.contact .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}
/* .contact .map{
    width: 400px;
    height: 400px;
    margin:  0 20px;
    min-width: 300px;
    min-height: 300px;
} */
/* .contact .map iframe{
    width: 100%;
    height: 100%;

} */
.contact .form{
    display: flex;
    width: 500px;
    flex-direction: column;
    margin:  0 20px;
    align-items: center;
    justify-content: center;
}
.contact .form .textbox{
    width: 400px;
    background-color: #191919;
    color: white;
    margin: 20px;
    height: 50px;
    border-radius: 30px;
    padding: 15px;
    border: none;
    transition: all .5 ease;
}
.contact .form .textbox:hover{
    opacity: .5;
    box-shadow: 0px 0px 5px #fff;
}
.contact .form .textbox::placeholder{
    font-size: 16px;
    color: rgb(148, 142, 142);
    
}
.contact .form .textarea{
    height: 120px;
}
.contact .form .btn{
    width :180px;
    padding: 10px;
    margin-top: 40px;
}

@media(max-width:800){
    .contact{
        width: 100px;
    }
}


/* footer page */

.footer{
    width: 100%;
    height: 100%;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0 20px 0;
}
.footer .para h2{
    font-size: 40px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}
.footer .social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.footer .social a{
    text-decoration: none;
    font-size: 50px;
    color: white;
    margin-left: 30px;
}
.footer .copyright{
    color: whitesmoke;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1px;
}
.fa-s:hover{
    color: #063eaf;
}
.fa-hackerrank:hover{
    color: rgb(25, 128, 25);
}

@media(max-width:800px)
{
    .footer{
        width: 100%;
    }
    .footer .para h2{
        font-size: 34px;
    }
    .footer .social {
        margin-right: 15px;
    }
    .footer .social a{
        font-size: 40px;
    }
    .footer .copyright{
        font-size: 16px;
        letter-spacing: 1px;
    }
}

@media(max-width:400px)
{
    .footer .social a{
        font-size: 34px;
    }
}






/*****************Key Frames*****************/
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes sql{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}
@keyframes c{
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }
}
@keyframes cpp{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}



/***************Media Queries***************/


@media(max-width:850px)
{
    /* Home page */
    /* .home{
        width: 100%;
    } */
    nav .mainmenu{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: -120%;
        left: 0;
        right: 0;
        z-index: 52;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #000;
        transition: top 1s ease;
    }
    nav .mainmenu li a{
        margin: 10px;
    }
    nav .mainmenu .closemenu{
        display: block;
        position: absolute;
        top: 30px;
        right: 45px;
    }
    nav .openmenu{
        display: block;
    }
    .icons{
        display: inline-block;
        padding: 20px;
    }
    .icons i{
        margin: 15px;
    }
}


@media(max-width:500px) {
    /* home page */
    .home{
        width: 100%;
        height: 100vh;
        background-image: url(images/bg.jpg) ;
        background-position: center;
        background-size: cover ;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    .home-text{
        color: white;
        position: absolute;
        top: 35%;
        left: 10%;
    }
    .home-text .text1{
        font-size: 28px;
    }
    .home-text .text2{
        font-size: 50px;
        margin: 10px 10px 10px 0;
        letter-spacing: 1px;
    }
    .home-text .text2 span{
        color: crimson;
    }
    .home-text .text3{
        font-size: 30px;
    }

    /* about page */
    .about.main{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about h2{
        font-size: 60px;
        text-transform: capitalize;
        margin-bottom: 30px;
        text-align: center;
        letter-spacing: 2px;
        font-weight: bold;
    }

    /* Education page */
    .education{
        width: 100%;
    }
    .education .title h1{
        font-size: 60px;
        color: white;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 60px;
    }
    .education .main .box{
        margin: 0 20px;
        width: 300px;
        
    }
    .education .main .box2{
        margin: 50px 0;
    }

    /* skills page */

    .skills{
        width: 100%;
    }
    .title{
        font-size: 45px;
    }

    /* contact us */

    .contact{
        width: 100%;
    }
    .contact .form{
        width: 350px;
        margin: 50px;
    }
    .contact .form .textbox{
        width: 300px;
    }
    
}

.fixed{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    border: none;
    box-shadow: 0 0 5px #000;
    text-align: center;
    z-index: 50;
}
.fixed:hover{
    background-color: #ccc9c9;
    cursor: pointer;
}
.fixed:hover i{
    color: rgb(235, 107, 149);
}
.fixed i{
    font-size: 30px;
    text-align: center;
    position: relative;
    z-index: 20;
    scroll-behavior: smooth;
    margin-top: 5px;
    color: rgb(255, 0, 43);
}

/* Slide left animation */

.slideleft{
    animation: slideleft 1s linear forwards;
}

@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
h1.slideleft{
    animation-delay: 1s;
}
h2.slideleft{
    animation-delay: 2s;
}
button.slideleft{
    animation-delay: 3s;
}
/* Slide left animation */

/* chatbot start */
/* bot icon */
.boticon{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 110px;
    right: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    border: none;
    box-shadow: 0 0 5px #000;
    text-align: center;
    z-index: 50;
}
.boticon:hover{
    background-color: #ccc9c9;
    cursor: pointer;
}
.boticon:hover i{
    color: #3f7df8;
}
.boticon i{
    font-size: 30px;
    text-align: center;
    position: relative;
    z-index: 20;
    scroll-behavior: smooth;
    margin-top: 5px;
    color: rgb(14, 30, 243);
}
/* bot icon */

/* chat box */

.chatbox{
    width: 400px;
    height: 100vh;
    position: fixed;
    /* top: 0; */
    right: 0;
    bottom: -120%;
    z-index: 100;
    background-color: rgb(154, 198, 240);
    transition: bottom 1s ease;
    overflow: hidden;
}
.chatbox .chatnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e7d7ec;
    padding: 15px;
    z-index: 1000;
    position: relative;
}
.chatnav h2{
    font-size: 30px;
    letter-spacing: 2px;
}
.chatnav i{
    font-size: 30px;
}
.chatnav i:hover{
    cursor: pointer;
    opacity: .2;
}
.chatcontainer{
    width: 100%;
    display: flex;
    overflow: auto;
}
.innercontainer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: hidden;
}
#timestamp{
    text-align: center;
    padding: 5px;
    margin: 10px;
    letter-spacing: 1px;
    font-size: 17px;
}
.botText{
    width: fit-content;
    max-width: 80%;
    padding: 10px;
    margin: 12px;
    font-size: 18px;
    background-color: #d6d5d5;
    border-radius: 0 20px 0 20px;
    clear: both;
    overflow: hidden;
    animation: floatup .5s forwards;
}

.botText span{
    color: rgb(153, 20, 20);
}
.userText{
    float: right;
    width: fit-content;
    max-width: 80%;
    padding: 10px;
    margin: 12px;
    overflow: hidden;
    font-size: 18px;
    background-color: #0747f7;
    border-radius: 20px 0 20px 0;
    clear: both;
    animation: floatup .5s forwards;
}
.userText span{
    color: rgb(252, 248, 248);
}
.inputblock{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #b4b1b1;
}
#userinput{
    width: 90%;
    height: 35px;
    display: flex;
    align-items: center;
    margin: 10px;
}
.inputbox{
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}
.inputbox:hover{
    box-shadow: 0px 0px 5px black;
}
.inputbox:active{
    border: 1px solid black;
}
.sendicon{
    width: 10%;
}
.sendicon i:hover{
    cursor: pointer;
    opacity: .7;
}
.sendicon i{
    font-size: 25px;
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media(max-width:600px)
{
    .chatbox{
        width: 100vw;
        height: 100vh;
    }
    .chatnav h2,.botText span{
        margin-left: 10px;
    }
    .inputbox{
        margin-right: 10px;
    }
    /* .innercontainer{
        margin-left: 20px;
    } */
}

/* chat box */



/* chatbot end */

@media(max-width:600px)
{
    .fixed{
        width: 45px;
        height: 45px;
    }
    .boticon{
        width: 45px;
        height: 45px;
    }
    .fixed i{
        margin-bottom: 2px;
        margin-top: 3px;
    }
    .boticon i{
        margin-bottom: 2px;
        margin-top: 3px;
    }
}